@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

:root {
  font-size: 17px;
}

body {
  background-color: #1e1e1e;
  color: #fff;
  font-family: 'Indie Flower', cursive;
  font-weight: 500;
  overflow-x: hidden;
}

.divImg {
  width: 100vw;
  height: 4rem;
  text-align: center;
  font-size: 1.2rem;
  background-color: #1a2c42;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0px 0px 50px 50px;
  border: 0.5px solid black;
}

.flecha {
  width: 20rem;
}

.contenedor {
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contentEnd, .divResultado, .divFinal {
    height: 33rem;
    width: 23rem;
    padding: 2rem;
    background-color: #272727;
    border-radius: 50px;
    transition: ease-in-out 200ms;
}

.contentEnd {
    display: flex;
    align-items: center;
    justify-content: center;   
}

.divEncriptador {
  height: 22rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.btnContainer {
  display: flex;
  flex-direction: column;
  width: 20rem;
  align-items: center;
}

.divResultado {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2, p {
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

input, button, .resultado {
  font-family: 'Indie Flower', cursive;
  font-weight: 500;
}

input {
  font-size: 1.2rem;
  width: 18.2rem;
  height: 2rem;
  text-align: center;
  border: none;
  border-radius: 30px;
  background-color: #fff;
}

input:focus {
  background-color: #21af79;
  color: #fff;
}

input:focus::placeholder{
  color: #fff;
}

input:focus-visible {
  outline: 2px solid #21af7974;
}

button {
  font-size: 1.2rem;
  width: 9rem;
  height: 2.5rem;
  border-radius: 15px;
  background-color: #04192f;
  color: #fff;
}

button:hover {
  cursor: pointer;
  background-color: #21af79;
  transition: ease-in-out 250ms;
}

.searchImg {
  width: 15rem;
  height: 15rem;
  margin-bottom: 1rem;
}

.divFinal {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.resultado {
  font-size: 1.2rem;
  width: 20rem;
  height: 10rem;
  text-align: center;
  background-color: #272727;
  color: #fff;
  border: none;
  resize: none;
}

.resultado:focus-visible {
  outline: none;
}

.asterisco {
  color: red;
  margin-right: 0.5rem;
}

@media (width <= 1110px) {
  :root {
    font-size: 16px;
  }
}
@media (width <= 1040px) {
  :root {
    font-size: 15px;
  }
}

@media (width <= 1000px) {
  .flecha {
    display: none;
  }
}

@media (width <= 768px) {
  :root {
    font-size: 17px;
  }

  .contenedor,.contentEnd {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    height: unset;
    padding: 1rem;
  }
  
  .contenedor {
    margin-top: 1rem;
    padding: 0px;
  }
  .divEncriptador {
    height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.divResultado{
  display: flex;
  height: initial;
  width: 35rem;
  padding: initial;
}

.divFinal {
  display: none;
  justify-content: initial;
  width: 35rem;
  padding: 1rem;
  height: initial;
}

.resultado {
  width: 30rem;
  height: 5rem;
  margin-bottom: 0.5rem;
}

.searchImg {
  display: none;
}

.btnContainer {
  width: 32rem;
}

button {
  width: 15rem;
}
}
@media (width <= 616px) {
  :root {
    font-size: 16px;
  }
}

@media (width <= 376px) {

  :root {
    font-size:17px;
  }
  
  .contenedorBtns {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  button {
    margin-bottom: 0.5rem;
  }

  .divResultado, .divFinal, .contentEnd, .btnContainer {
    width: 18rem;
  }

  .resultado {
    width: 15rem;
  }
  }
 
  @media (width <= 314px) {
    :root {
      font-size:16px
    }
  }

  @media (width <= 294px) {
    :root {
      font-size:15px
    }
  }

  @media (width <= 276px) {
    :root {
      font-size:14px
    }
  }
  @media (width <= 260px) {
    :root {
      font-size:13px
    }
  }
